body{ background-color:blanchedalmond;
}
.greg {background-image:url('C:\HtmlRepos\cv\Images\gregface');
    background-repeat: no-reapeat;
    background-size:cover; }

/* .transparentBisque{background-color: rgba(222, 184, 135, 0.551)} */

 header{font-size:large;
 }
/* td{border-style:groove;
} */
.bullets{list-style-type: none;}
.bold{font-weight: bold;}
/* .bisque{background-color: burlywood;} */
.bad{color: red;}
.italics{font-style:italic;}
.sbs{display:inline-block;}
.sbs30{width:29%}
.sbs70{width:70%}
.sbs40{width:40%}
.imgFloatLeft{float:left;
                margin:15px 15px 15px 0;}
/* table{ width:150px; border-style:groove; border-collapse:collapse;
    background-color:cornsilk; border-color:black;}
    .black{color:black;} */